# Core functionality - changes here should be rare!
/src/app.py                   @asmanmalik
/src/backend/database.py      @asmanmalik
/src/backend/routers/auth.py  @asmanmalik

# The frontend will need refactored soon to be more object oriented.
/src/static/   @asmanmalik
